html {
	font-size: 62.5%;
}

@media screen and (max-width: 992px) {
	html {
		font-size: 50%;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: var(--font-size-normal);
	font-family: var(--body-font);
	color: var(--body-text-color);
	margin: 0;
	background: var(--primary-background);
}

/* Text styles */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--heading-font);
}

h1 {
	font-size: var(--font-size-xl);
	font-weight: 500;
}
h2 {
	font-size: var(--font-size-lg);
	font-weight: 600;
}
h3 {
	font-size: var(--font-size-md);
	font-weight: 700;
}

a {
	color: var(--body-text-color);
	text-decoration: none;
}

/* Global input styles */
input {
	width: 100%;
	padding: var(--spacing-xs);
	border: 1px solid #ccc;
	border-radius: var(--border-radius-sm);

	&:hover {
		opacity: 0.9;
		border: 1px solid var(--highlight-color);
	}
}

/* Global list styles*/

.list-style-1 {
	padding: 0;
	list-style: none;

	li {
		padding: var(--spacing-xxs);
	}
}

.selectable-list-item {
	padding: var(--spacing-xs);

	&:hover,
	&:focus,
	&:active,
	&.selected {
		background: var(--highlight-color);
		color: var(--text-highlight-color);
		cursor: pointer;
	}
}

/* Global button styles */
button {
	padding: var(--spacing-xxs) var(--spacing-xs);
	border: 1px solid black;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	color: var(--body-text-color);
	// transition: var(--ease-in-out-md);

	&:active {
		transform: scale(0.95);
	}
}
