html {
	font-size: 62.5%;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	--spacing-xxs: .2rem;
	--spacing-xs: .6rem;
	--spacing-sm: 1rem;
	--spacing-md: 1.6rem;
	--spacing-lg: 2.2rem
	--spacing-xl: 3rem;
	--spacing-xxl: 4rem;

	--gutters: 4rem;

	--border-radius-xs: .2rem;
	--border-radius-sm: .4rem;
	--border-radius-md: .8rem;
	--border-radius-lg: 1.6rem;
	--border-radius-xl: 2.2rem;

	--primary-background: hsla(204, 19%, 15%, 1);
	--highlight-color: rebeccapurple;

	--font-size-sm: 1.4rem;
	--font-size-normal: 1.6rem;
	--font-size-md: 1.8rem;
	--font-size-lg: 2.4rem;
	--font-size-xl: 3.2rem;
	--font-size-xxl: 3.8rem;

	--body-text-color: hsla( 0, 0%, 95%, 0.95);
	--text-highlight-color: hsla( 0, 0%, 95%, 0.95);

	--ease-in-out-md: all 0.3s ease-in-out;
	
	--site-width: 1920px;
	
}

body {
	font-size: var(--font-size-normal);
	color: var(--body-text-color);
	margin: 0;
	background: var(--primary-background);
}


/* Text styles */

h1 {
	font-size: var(--font-size-xl);
	font-weight: 500;
}
h2 {
	font-size: var(--font-size-lg);
	font-weight: 600;
}
h3 {
	font-size: var(--font-size-md);
	font-weight: 700;
}

a {
	color: var(--body-text-color);
	text-decoration: none;
}

/* Global input styles */
input {
	width: 100%;
	padding: var(--spacing-xs);
	border: 1px solid #ccc;
	border-radius: var(--border-radius-sm);
	
	&:hover {
		opacity: 0.9;
		border: 1px solid var(--highlight-color);
	}
}

/* Global list styles*/

.list-style-1 {
	padding: 0;
	list-style: none;

	li {
		padding: var(--spacing-xxs);

	}
}

.selectable-list-item {
	padding: var(--spacing-xs);

	&:hover, &:focus, &:active, &.selected {
		background: var(--highlight-color);
		color: var(--text-highlight-color);
		cursor: pointer;
	}
	
}

/* Global button styles */
button {
	padding: var(--spacing-xxs) var(--spacing-xs);
	border: 1px solid black;
	border-radius: var(--border-radius-xs);
	cursor: pointer;
	color: var(--body-text-color);
	// transition: var(--ease-in-out-md);

	&:active {
		transform: scale(0.95);
	}
}